<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>CST_Trading</string>
	<key>CFBundleIdentifier</key>
	<string>com.jvapps.CSTTrading</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CST Trading</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Configuration</key>
	<dict>
		<key>TABVIEW_SHOW_CART</key>
		<true/>
		<key>TABVIEW_SHOW_HOME</key>
		<true/>
		<key>TABVIEW_SHOW_MORE</key>
		<true/>
		<key>TABVIEW_SHOW_SHOP</key>
		<true/>
		<key>TABVIEW_SHOW_TESTIMONIAL</key>
		<false/>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
